body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

#package-details {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 20px;
    background-color: #e89870;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    border: 2px solid #e89870;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.goback {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

img {
    width: 80%;
    height: 50vh;
    margin-bottom: 20px;
    border-radius: 10px;
}

.seemorediv {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-container {
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: black;
    border-radius: 10px;
}

.video-container video {
    width: 80vw;
    height: 500px;
    object-fit: contain;
    transform-origin: center;
    border-radius: 10px;
    margin-left: 6%
}

p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .seemorediv {
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        width: 100%;
        margin-bottom: 20px;
    }
}